.page-footer {
  width: 100%;
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}
