.photo__list {
  display: flex;
  flex-direction: column;
  .offset();
  list-style: none;
}

.photo__item {
  font-size: 14px;
  line-height: 24px;
}

.photo__figure {
  .offset();
  margin-bottom: 20px;
  text-align: left;
}

.photo__link {
  width: 280px;
  height: 280px;
}

.photo__name {
  .offset();
  font-weight: 700;
}

.photo__figurecaption {
  .offset();
  text-transform: none;
}

.photo__like {
  .offset();
  margin-top: 10px;
  padding-left: 35px;
  font-weight: 700;
}
