.presentation {
  padding: 0 20px;
}

.presentation__title {
  display: block;
  .offset();
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.presentation__intro {
  display: block;
  .offset();
  margin-bottom: 35px;
}
