.reasons {
  margin-bottom: 30px;
}

.reasons__header {
  margin-bottom: 30px;
  min-width: 255px;
}

.reasons__slogan {
  display: block;
  .offset();
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @tx-black;
}

.reasons__intro {
  display: block;
  .offset();
  line-height: 26px;
}

.reasons__list {
  display: block;
  .offset();
  list-style: none;
}

.reasons__item {
  padding-top: 30px;
  background-color: @bg-lightgrey;
  &--city {
    padding-top: 65px;
    background: @bg-lightblue url("../img/bg-triangle.svg") top/contain no-repeat;
    color: @tx-white;
  }
  &--bridge {
    background-color: @bg-lightblue;
    color: @tx-white;
  }
}

.reasons__foto {
  height: 260px;
  width: 100%;
  &--city {
    background: @bg-white url("../img/main-city-mobile@1x.jpg") top/contain no-repeat;
  }
  &--bridge {
    background: @bg-white url("../img/main-bridge-mobile@1x.jpg") top/contain no-repeat;
  }
}

.reasons__title {
  .offset();
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reasons__description {
  .offset();
  padding: 0 20px;
  padding-bottom: 30px;
}

.reasons__number {
  .offset();
}

.reasons__services__list {
  padding-top: 30px;
  background-color: @bg-white;
}
