.services__list {
  .offset();
  list-style: none;
  background-color: @bg-white;
}

.services__item {
  .offset();
  padding-left: 70px;
  padding-right: 20px;
  text-align: left;
}

.services__title {
  .offset();
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @tx-black;
}

.services__description {
  .offset();
  margin-bottom: 30px;
  color: @tx-darkgrey;
}

.services__description br {
  display: none;
}

@media (min-width: @tablet-width) {
  .services__list {
    display: flex;
    flex-direction: row;
  }

  .services__item {
    .offset();
    padding-top: 120px;
    margin: 0 45px;
    width: 33.3%;
    text-align: center;

    &--house {
      order: 0;
    }

    &--souvenir {
      order: 2;
    }

    &--food {
      order: 1;
    }
  }

  .services__title {
    margin-bottom: 20px;
    font-size: 21px;
  }

  .services__description {
    margin-bottom: 60px;
  }

  .services__description br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .services__item {
    margin: 0 50px;
  }

  .services__description {
    margin-bottom: 80px;
  }
}
