.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social__link {
  display: block;
  padding: 15px;
  background-color: @bg-lightblue;
  &--facebook {
    padding: 13px 18px;
  }
}

.social__link path {
  fill: @tx-white;
}
