@bg-lightblue:#81b3d2;
@bg-midblue: #669ec0;
@bg-darkblue:#5496bd;
@bg-grey: #f2f2f2;
@bg-lightgrey: #eeeeee;
@bg-white: #ffffff;
@tx-lightgrey: #eeeeee;
@tx-darkgrey: #333333;
@tx-black: #000000;
@tx-white: #ffffff;
@tablet-width: 768px;
@desktop-width: 1125px;
